z:root {
    --red-primary: #EC0833;
    --red-secundary: #B00525;
    --success: #590313;
    --waring: #D9D9D9;
    --black: #000000;
    --white: #FFFFFF;
    --neutrals: #374957;

}

*  {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.compra_container {
    margin: 1rem 2rem;
    border: 1px solid white;
    background-color: var(--white);
}

.compra_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.compra_box-info {
    width: 50%;
}


.compra_info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 1.3em;
    gap: 10px;
}

.compra_box-img {
    width: 80%;
}

.compra_img img {
    width: 80% ;
}

.resume {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    padding: 20px;
}

.acess {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.3em;
}

.aspan {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.acess span {
    display: flex;
    gap: 10px;
}

.caracteristicas_prin {
    padding: 20px;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orcamento {
    width: 100%;
    background-color:#374F62;
    color: var(--white);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.orcamento a{
    color: var(--red-primary);
    padding: 20px;
    margin-right: 3rem;
    font-size: 1.3em;
    background-color: var(--white);
    border-radius: 30px;
    font-weight: 700;
}
.orcamento a:hover {
    padding: 20px 25px;
    transition: .3s;
}


